/*
Main css for our page

FirstColor: #08526d
SecondColor: #ec1c23
*/
/*Start Top Header*/
.header{
    background-color:black ;
}
.header h1{
    color: rgb(185, 185, 184);
    font-family: Monoton;
    font-size: 70px;
}
/*End  Top Header*/

/*Start  Settings*/
.Settings p {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: rgb(207, 204, 204);
}
.Settings{
    background-color: rgb(66, 66, 66);
    padding-top:15px ;
    
}
.Settings .grid input{
    resize: horizontal;
    width: 50px;
}
.Settings .grid input:active{
    resize: horizontal;
    width: auto;
}
.Settings .grid input:focus {
    min-width: 200px;
}
.header button{
    margin-bottom: 3px;
}
.Settings .color input{
    height: 30px;
    width: 50px;
}
/*End    Settings*/

/*Start Draw*/
table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
  height: 20px;
}

input[type=number] {
  width: 6em;
}
.draw{
    margin-top: 50px;
}
.Settings #000{
    margin-left:50px ;
}
/*End   Draw*/